Workflow/Candidate Screening Automation.json
{
  "name": "Candidate Screening Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contratação Analista de Dados",
        "formDescription": "Responda o formulário e aguarde nosso contato!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome completo:",
              "placeholder": "Digite o seu nome completo",
              "requiredField": true
            },
            {
              "fieldLabel": "E-mail:",
              "fieldType": "email",
              "placeholder": "Digite o seu e-mail",
              "requiredField": true
            },
            {
              "fieldLabel": "Cargo/Função:",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Analista de Dados"
                  },
                  {
                    "option": "Social Media"
                  },
                  {
                    "option": "Analista de Automação"
                  },
                  {
                    "option": "QA"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Pretensão salarial (apenas números):",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -544,
        -16
      ],
      "name": "Recebendo candidatura"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json['Pretensão salarial (apenas números):'] }}",
              "rightValue": 6000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        -16
      ],
      "name": "Verificando salário"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Recebendo candidatura').item.json['E-mail:'] }}",
        "subject": "Retorno sobre sua candidatura - Analista de Dados",
        "emailType": "text",
        "message": "=Olá, {{ $('Recebendo candidatura').item.json['Nome completo:'] }}.\n\nApós análise, identificamos que sua pretensão salarial no momento está incompatível com a faixa prevista para esta posição.\n\nDe toda forma, agradecemos novamente pelo seu tempo e interesse, e esperamos poder contar com sua candidatura em futuras oportunidades que estejam mais alinhadas ao seu perfil.\n ",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -32,
        -176
      ],
      "name": "E-mail salário alto",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Verificando salário').item.json['Cargo/Função:'] }}",
                    "rightValue": "Analista de Dados",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Dados"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Verificando salário').item.json['Cargo/Função:'] }}",
                    "rightValue": "Social Media",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Verificando salário').item.json['Cargo/Função:'] }}",
                    "rightValue": "Analista de Automação",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Automação"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Verificando salário').item.json['Cargo/Função:'] }}",
                    "rightValue": "QA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "QA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        48
      ],
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16jKDbmvjN-i84QolCrRbUqkqTYG9byL_Gsz-j2Qgoo0",
          "mode": "list",
          "cachedResultName": "Candidatos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16jKDbmvjN-i84QolCrRbUqkqTYG9byL_Gsz-j2Qgoo0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16jKDbmvjN-i84QolCrRbUqkqTYG9byL_Gsz-j2Qgoo0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $json['Nome completo:'] }}",
            "Cargo": "={{ $json['Cargo/Função:'] }}",
            "Email": "={{ $json['E-mail:'] }}",
            "Salário": "={{ $json['Pretensão salarial (apenas números):'] }}",
            "DataHora": "={{ $now.format('dd/MM/yyyy hh:mm') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Cargo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Salário",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "DataHora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Entrevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        48
      ],
      "name": "Adicionar linha de candidato"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Recebendo candidatura').item.json['E-mail:'] }}",
        "subject": "=Retorno sobre sua candidatura -  {{ $('Verificando salário').item.json['Cargo/Função:'] }}",
        "emailType": "text",
        "message": "=Olá, {{ $('Recebendo candidatura').item.json['Nome completo:'] }}.\n\nNo momento não temos outras oportunidades abertas compatíveis com sua função e perfil profissional.\n\nDe toda forma, agradecemos novamente pelo seu tempo e interesse. Gostamos da sua candidatura e manteremos seu currículo em nosso banco de talentos para futuras oportunidades que estejam mais alinhadas ao seu perfil.\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        144
      ],
      "name": "E-mail sem vaga",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sendTo": "={{ $('Recebendo candidatura').item.json['E-mail:'] }}",
        "subject": "=Retorno sobre sua candidatura - {{ $('Verificando salário').item.json['Cargo/Função:'] }}",
        "emailType": "text",
        "message": "=Olá, {{ $('Recebendo candidatura').item.json['Nome completo:'] }}.\n\nAgradecemos seu interesse e participação no processo seletivo para a vaga de {{ $('Recebendo candidatura').item.json['Cargo/Função:'] }}.\n\nGostaríamos de informar que você foi selecionado para a próxima etapa, que consistirá em uma entrevista.\n\nEm breve entraremos em contato com mais detalhes sobre data, horário e formato da conversa.\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        -48
      ],
      "name": "E-mail Analista Dados",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sendTo": "example@gmail.com",
        "subject": "=Novo candidato - {{ $('Verificando salário').item.json['Cargo/Função:'] }}",
        "emailType": "text",
        "message": "=Olá,\n\nUm novo candidato foi adicionado a planilha.\n\nPor favor, analise o candidato e dê o feedback para prosseguir ou não para a entrevista.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        -48
      ],
      "name": "E-mail gestor vaga",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $('Verificando salário').item.json['Pretensão salarial (apenas números):'] }}",
              "rightValue": 4500,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        784,
        -256
      ],
      "name": "Filter"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "example@gmail.com",
          "mode": "list",
          "cachedResultName": "example@gmail.com"
        },
        "start": "={{ $now.plus(1, 'day') }}",
        "end": "={{ $now.plus(1, 'day').plus(1, 'hour') }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Verificando salário').item.json['E-mail:'] }}"
          ],
          "summary": "Entrevista - Analista de Dados"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        992,
        -256
      ],
      "name": "Agendar entrevista"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "16jKDbmvjN-i84QolCrRbUqkqTYG9byL_Gsz-j2Qgoo0",
          "mode": "list",
          "cachedResultName": "Candidatos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16jKDbmvjN-i84QolCrRbUqkqTYG9byL_Gsz-j2Qgoo0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16jKDbmvjN-i84QolCrRbUqkqTYG9byL_Gsz-j2Qgoo0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $('Adicionar linha de candidato').item.json.Email }}",
            "Entrevista": "={{ $json.htmlLink }}"
          },
          "matchingColumns": [
            "Nome"
          ],
          "schema": [
            {
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Cargo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Salário",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "DataHora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Entrevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        -256
      ],
      "name": "Colocar link entrevista"
    },
    {
      "parameters": {
        "sendTo": "example@gmail.com",
        "subject": "=Entrevista Analista de Dados x {{ $('Verificando salário').item.json['Nome completo:'] }}",
        "emailType": "text",
        "message": "=Olá,\n\nA entrevista está agendada para {{ \n  new Date($('Agendar entrevista').item.json.start.dateTime).toLocaleDateString('pt-BR')\n  + ' às ' +\n  new Date($('Agendar entrevista').item.json.start.dateTime).toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' })\n}}\n\nO link do agendamento é: {{ $('Agendar entrevista').item.json.htmlLink }}",
        "options": {
          "appendAttribution": false,
          "ccList": "={{ $('Recebendo candidatura').item.json['E-mail:'] }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1440,
        -64
      ],
      "name": "E-mail gestor vaga1",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Recebendo candidatura": {
      "main": [
        [
          {
            "node": "Verificando salário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificando salário": {
      "main": [
        [
          {
            "node": "E-mail salário alto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adicionar linha de candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar linha de candidato": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "E-mail Analista Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "E-mail sem vaga",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "E-mail sem vaga",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "E-mail sem vaga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-mail Analista Dados": {
      "main": [
        [
          {
            "node": "E-mail gestor vaga",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Agendar entrevista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar entrevista": {
      "main": [
        [
          {
            "node": "Colocar link entrevista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar link entrevista": {
      "main": [
        [
          {
            "node": "E-mail gestor vaga1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "updatedAt": "2026-02-16T12:26:20.703Z",
      "createdAt": "2026-02-16T12:26:20.703Z",
      "name": "Entrevistas"
    }
  ]
}